@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");

@layer base {
  body {
    @apply font-[Raleway];
  }

  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.work {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.blur-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.6);
}

.effect {
  background:rgba(255, 166, 0, 0.834);
}
.work{
    background: rgba(0, 0, 0, 1);
  background-image: url("./Images/work.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.contact {
  background: rgba(0, 0, 0, 1);
  background-image: url("./Images/us1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home {
  background-image: url("./Images/home.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
